*{

	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{

	background: url(bg.jpg) #000;
	background-size: cover;
	color: #fff;
	font-size: 16px;
}
.wrap{

	width: 100%;
	max-width: 1000px;

}
.widget{
	width: 40%;
	margin: 2em;
}
.widget p{
	display: inline-block;
	line-height: 1em;
}
.date{
	font-family: Arial;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.3125em;
	background:rgba(0,0,0,.5);
	padding: 20px;
	width: 100%;
}
.clock{
font-family: Arial;
width: 100%;
padding: 20px;
font-size: 4em;
text-align: center;
background: rgba(0,0,0,.5);
}
		
.clock .box{
	display: inline-block;
	font-size: 34px;
}
 .clock .seconds, .clock .ampm{
 	font-size: 2rem;
 	display: block;

}
.back{
	float: right;
	float: top;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
}
.back:hover{
	color: #1670f0;
}
@media screen and (max-width:800px){
	.date{
		position: fixed;
		text-align: center;
	}
	.clock{
		
		position: fixed;
		text-align: center;
		top: 100px;
	}.widget{
		margin: 0;
	}
	.back{
		position: fixed;
		margin: 0;
		bottom: 0px;
		
	}
}


